<nav class="navbar navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="http://localhost:5000/nupec">Nupec</a>
		<a class="navbar-brand" href="http://localhost:5000/royal-canin">Royal Canin</a>
		<a class="navbar-brand" href="http://localhost:5000/proplan">Proplan</a>
	</div>
</nav>